 .hidden {
     display: none;
 }

 .show-more-container {
     text-align: center;
     margin-top: 20px;
 }
.go-more-container{
    display: none;
}
 .show-more-btn{
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     border: none;
     cursor: pointer;
 }
.show-more-btn:hover {
     background-color: #555;
 }